<div class="container">
  <h2 class="section-title">Área do Cliente</h2>
  <hr class="divider" />

  <!-- Formulário de CPF -->
  <form (ngSubmit)="consultarPagamentos()" #cpfForm="ngForm">
    <label for="cpf">Digite seu CPF:</label>
    <input type="text" id="cpf" name="cpf" [(ngModel)]="cpf" placeholder="000.000.000-00" required>
    <button type="submit">Consultar</button>
  </form>

  <!-- Exibição dos Pagamentos -->
  <div *ngIf="pagamentosAbertos.length || pagamentosPagos.length">
    <h3>Pagamentos</h3>
    <div id="pagamentos-abertos">
      <h4>Pagamentos em Aberto</h4>
      <ul>
        <li *ngFor="let pagamento of pagamentosAbertos">
          Valor: R${{pagamento.valorPagamento}}, Data de Vencimento: {{pagamento.dataVencimento | date:'dd/MM/yyyy'}}
        </li>
      </ul>
    </div>
    <div id="pagamentos-pagos">
      <h4>Pagamentos Pagos</h4>
      <ul>
        <li *ngFor="let pagamento of pagamentosPagos">
          Valor: R${{pagamento.valorPagamento}}, Data de Pagamento: {{pagamento.dataPagamento | date:'dd/MM/yyyy'}}
        </li>
      </ul>
    </div>
  </div>
</div>
